*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    
}
html,body{

    height: 100%;
    background: linear-gradient(to right, #0083B0, #00B4DB); 



}
.container {
    background: linear-gradient(to right, #0083B0, #00B4DB); 
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    
    padding: 20px;
    width: 40%;
    overflow: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: auto;
  }
  
  #main-head {
    font-size: 250%;
    color: aliceblue;
    margin-bottom: 10px;
  }
  
  .list-items {
    background-color: rgb(255, 255, 255);
    list-style: none;
    border: 2px solid #0083B0;
    text-align: center;
    padding: 3px 0px 3px 0px;
    line-height: 500%;
    font-size: 1.5rem;
    border-radius: 10px;
  }
.but{
  height: 128px;
  width: 100%;
  border: 2px solid #0083B0;
  border-radius: 10px;
  cursor: pointer;
 
}